[Unit]
Description=Jass Service
After=network.target

[Service]
User=root
WorkingDirectory=/srv/dl4g
Environment=PORT=6789
ExecStart=/root/.local/bin/poetry run python service.py

[Install]
WantedBy=multi-user.target